:root {
    --fs-sm: 16px;    
    --fs-md: 64px;
    


    --line-height-23: 23px;
    --line-height-24: 24px;
    --line-height-76: 76px;
 

   
    --white:white;
    --yellow: #FFC20A;
    --green:#3B945E;

}
.color-white{
    color: var(--white);
}
.color-green{
    color: var(--green);
}

.fs-sm{
    font-size: var(--fs-sm);
}

.fs-md{
    font-size: var(--fs-md);
}
.lh-23{
    line-height: var(--line-height-23);
}
.lh-24{
    line-height: var(--line-height-24);
}
.lh-76{
    line-height: var(--line-height-76);
}